.about-banner-img {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../../images/About.jpg");
  object-fit: cover;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-title h1 {
  color: white;
  padding-top: 100px;
  margin-top: 0px;
}

.about-text {
  display: grid;
  grid-template-columns: 1fr;
  /*grid-gap: 36px;*/
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.58);
  width: 480px;
  height: 480px;
  overflow: scroll;
}

.text-box p{
  color: white;
  width: 480px;
  text-align: left;
  padding: 12px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-indent:12px;
}

#about img {
  display: flex;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto 50px auto;
}

/* Media queries */

@media(max-width: 768px) {
  .about-text {
    /*grid-template-columns: 1fr;*/
    width: 360px;
  }
  .text-box p {
    width: 360px;
  }
}
