.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact h3 {
  margin: 0;
  letter-spacing: 2px;
  font-size: 36px;
  color: #ff6d00;
}

.contact a {
  text-decoration: none;
  color: #222;
  letter-spacing: 2px;
}

.contact i {
  color: #ff6d00;
  font-size: 40px;
  margin-right: 36px;
}

.contact-box {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
  width: 50vw;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 100px;
}

.resume a {
  text-decoration: none;
  color: #292926  ;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 150px;
  border: 2px solid #292926;
  border-radius: 4px;
  padding: 8px;
  width: fit-content;
  right: 20px;
  top: 70px;
  position: fixed;
  background: #FBF5F3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resume a:hover {
  color: black;
  border-color: rgba(0, 0, 0, 0.6);
  background: #ffffff;
  /*background: linear-gradient(to bottom, #FBF5F3 45%, #ffffff 100%);*/
  transition: .7s ease;
}

.resume {
  display: flex;
  justify-content: center;
}
