footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

footer p {
  margin-bottom: .25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.sns {
  color: black;
  font-size: 28px;
}
